// Colours
$primary-color: #43424c;
$dark-color: #43424c;
$light-color: #f4f4f4;
$danger-color: #c1091c;
$success-color: #28a745;
$section-bg: azure;
$body-bg: #f1f2f4;

// font family
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-ubuntu-sans-serif: "Ubuntu", sans-serif;
$font-family-brnad-cursive: "Reggae One", cursive;

// font size
